<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.2.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>DVD Rental</title>
</head>
<body>

    <div class="container">

        <h3 class="text-center">
            DVD Rental
            <small class="text-body-secondary"> - City</small>
        </h3>
        <hr>

        <a th:href="@{/api/dvdrental/address}"
           class="btn btn-info btn-sm mb-3">
            Address List
        </a>

        <a th:href="@{/api/dvdrental/actors}"
           class="btn btn-info btn-sm mb-3">
            Actors List
        </a>

        <a th:href="@{/api/dvdrental/categories}"
           class="btn btn-info btn-sm mb-3">
            Categories List
        </a>

        <a th:href="@{/api/dvdrental/countries}"
           class="btn btn-info btn-sm mb-3">
            Countries List
        </a>

        <table class="table table-striped table-hover">
            <thead class="table-primary">
                <tr>
                    <th>City ID</th>
                    <th>City</th>
                    <th>Country ID</th>
                    <th>Last Update</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="temp : ${city}">
                    <td th:text="${temp.cityId}" />
                    <td th:text="${temp.city}" />
                    <td th:text="${temp.countryId}" />
                    <td th:text="${temp.lastUpdate}" />
                </tr>
            </tbody>
        </table>

    </div>

</body>
</html>