body{
    background-color: black;
}
.poster{
    width: 50%;
    margin-top: 50px;
    margin-left: 25%;
    color: white;
    align-content: center;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
img{
    border: 5px solid white;
    align-content: center;
    width: 100%;
}
h1{
    text-transform: uppercase;
}